.error {
    color: #FF6060;
    display: flex;
    flex-direction: column;
    align-items: center;
    &>a {
        color: #FF6060;
        text-decoration: underline;
        font-size: 20px;
        margin-top: 150px;
        margin-bottom: 150px;
    }
}
@media all and (max-width: 768px) {
    .error {
        &>a {
            font-size: 14px;
            margin-bottom: 200px;
        }
    }
}

.mainbody {
    & h1 {
        display: flex;
        justify-content: center;
        font-size: 288px;
        margin-bottom: 10px;
        margin-top: 78px;
    }
    & p {
        font-size: 36px;
        br {
            display: none;
        }
    }
}
@media all and (max-width: 768px) {
    .mainbody {
        & h1 {
            font-size: 96px;
            margin-top: 200px;
        }
        & p {
            font-size: 18px;
            text-align: center;
            br {
                display: block;
            }
        }
    }
}