.informations {
    display: flex;
    justify-content: space-between;
}

.main-informations {
    color: #FF6060;
    margin: 5px 0px 10px 50px;
    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 36px;
        width: 70%;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-top: 5px;
    }
    &__tags {
        margin-top: 25px;
    }
}

.tag {
    color: white;
    background-color: #FF6060;
    border-style: none;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px 20px;
}

.secondary-informations {
    margin-top: 5px;
    margin-right: 50px;
}