.informations {
    display: flex;
    justify-content: space-between;
}
@media all and (max-width: 768px) {
    .informations {
        flex-direction: column;
    }
}

.main-informations {
    color: #FF6060;
    margin: 5px 0px 10px 80px;
    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 36px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        margin-top: 5px;
    }
    &__tags {
        margin-top: 20px;
    }
}
@media all and (max-width: 768px) {
    .main-informations {
        margin: 5px 0px 10px 20px;
        &__title {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 14px;
            margin-top: 10px;
        }
        &__tags {
            display: flex;
            margin-top: 15px;
        }
    }
}

.tag {
    color: white;
    background-color: #FF6060;
    border-style: none;
    border-radius: 10px;
    font-size: 12px;
    margin-right: 10px;
    padding: 5px 20px;
}
@media all and (max-width: 768px) {
    .tag {
        border-radius: 5px;
        font-size: 10px;
        padding: 5px 10px;
    }
}

.secondary-informations {
    margin-top: 5px;
    margin-right: 80px;
}
@media all and (max-width: 768px) {
    .secondary-informations {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-right: 20px;
    }
}