#header {
    margin: 40px 100px 0px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__link {
    margin-left: 42px;
    text-decoration: none;
    color: #FF6060;
    font-size: 25px;
        &--active {
            text-decoration: underline;
        }
}