.host {
    display: flex;
    &__name {
        color: #FF6060;
        font-size: 18px;
        width: 90px;
        text-align: end;
        margin: 10px 10px 0 0;
    }
    &__picture {
        height: 64px;
        width: 64px;
    &>img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }
    }
}
@media all and (max-width: 768px) {
    .host {
        align-items: center;
        &__name {
            font-size: 12px;
            width: 50px;
            margin-top: 0;
        }
        &__picture {
            height: 32px;
            width: 32px;
        }    
    }
}