.stars {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 20px;
    &--full {
        margin-left: 10px;
        color: #FF6060;
    }
    &--empty {
        margin-left: 10px;
        color: #E3E3E3
    }
}
@media all and (max-width: 768px) {
    .stars {
        margin-top: 10px;
        margin-left: 20px;
        font-size: 15px;
        &--full {
            margin-left: 0;
            margin-right: 10px;
        }
        &--empty {
            margin-left: 0;
            margin-right: 10px;
        }
    }
}